# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

.vercel

package-lock.json
bun.lockb
yarn.lock

#cusomt fuwari update
.github
.vscode/
CONTRIBUTING.md
docs/README.es.md
docs/README.ja.md
docs/README.ko.md
docs/README.th.md
docs/README.zh-CN.md
public/favicon/favicon-dark-32.png
public/favicon/favicon-dark-128.png
public/favicon/favicon-dark-180.png
public/favicon/favicon-dark-192.png
public/favicon/favicon-light-32.png
public/favicon/favicon-light-128.png
public/favicon/favicon-light-180.png
public/favicon/favicon-light-192.png
src/assets/images/demo-avatar.png
src/assets/images/demo-banner.png
src/content/posts/draft.md
src/content/posts/expressive-code.md
src/content/posts/markdown-extended.md
src/content/posts/markdown.md
src/content/posts/video.md
src/content/posts/guide/index.md
src/content/posts/guide/cover.jpeg
